- title "Restaurant"

= render 'restaurant'

.buttons
  = link_to "Edit Restaurant Info", edit_restaurant_path(@restaurant), :class => :button

%hr/

=render '/meals/meals', :meals => (@meals = @restaurant.meals.by_recency)
