- title 'AppName'

.section
  %p
    Hello, children

  %ul
    %li= link_to "restaurants", restaurants_path
    %li= link_to "Demo of grid styling", '/admin/grid'
    %li= link_to "Demo of text styling", '/admin/text'
