- cache(:layout_footer) do
  .box
    .credits
      An <a href="http://infochimps.com/">Infochimps labs</a> project &mdash; Apache-licensed <a href="http://github.com/infochimps/lunchlady">source code here</a>.
    .copyright
      %p Copyright &copy; #{Date.today.year} <a href="http://infochimps.com">Infochimps</a>
  
